<!--main-map-box-->
<div class="main-map-box cnt-section">
	<div class="container">
		<div class="photo-inner-wrap">
			<div class="elm-photo">
				<img src="./img/map.svg" alt="">
			</div>
		</div>
		<div class="info-inner-wrap">
			<h2 class="h5-title m16">Доставка по все города Уральского Федерального округа</h2>
			<p>Самовывоз с наших складов в городах: Екатеринбург, Челябинск.</p>
			<ul class="list">
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Екатеринбург</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Челябинск</div>
					</a>
				</li>
			</ul>
			<h2 class="h5-title m16 mb24">Оперативная доставка</h2>
			<ul class="list">
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Москва</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Санкт Петербург</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Тюмень</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Пермь</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Владивосток</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Самара</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Китеж</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Грозный</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Ханты-Мансийск</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Москва</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Тюмень</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Пермь</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Владивосток</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Самара</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Китеж</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Санкт Петербург</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Грозный</div>
					</a>
				</li>
				<li>и другие города УФО</li>
			</ul>
		</div>
	</div>
</div>
<!--/main-map-box-->
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel cnt-section">
		<div class="container">
			<div class="info-inner-wrap">
				<div class="footer-logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo.svg" alt="">
					</a>
				</div>
				<div class="footer-info-item elm-info-item">
					<div class="info-title">Наша почта</div>
					<div class="info-value">
						<div class="elm-ico">
							<img src="./img/icons/email.svg" alt="">
						</div>
						<div class="info-value-title">
							<a href="mailto:fo@ural-filters.ru" class="link-main btn-info">info@ural-filters.ru</a>
						</div>
					</div>
				</div>
				<div class="footer-info-item elm-info-item">
					<div class="info-title">Челябинск</div>
					<div class="info-value">
						<div class="elm-ico">
							<img src="./img/icons/phone.svg" alt="">
						</div>
						<div class="info-value-title">
							<a href="" class="btn-info">+8 (800) 123-45-67</a>
						</div>
					</div>
				</div>
				<div class="footer-info-item elm-info-item">
					<div class="info-title">Тюмень</div>
					<div class="info-value">
						<div class="elm-ico">
							<img src="./img/icons/phoneinn.svg" alt="">
						</div>
						<div class="info-value-title">
							<a href="" class="btn-info">+8 (800) 123-45-67</a>
						</div>
					</div>
				</div>
				<div class="footer-info-item elm-info-item">
					<div class="info-title">Время работы</div>
					<div class="info-value">
						<div class="elm-ico">
							<img src="./img/icons/shedule.svg" alt="">
						</div>
						<div class="info-value-title">
							Пн-Пт с 9:00 до 21:00 <br>Сб-Вс выходной
						</div>
					</div>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="menu-title">ИНФОРМАЦИЯ</div>
					<ul class="menu menu-main">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Каталог товаров</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Доставка</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Гарантии и возврат</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О компании</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Корзина</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Оставить заявку</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Карта сайта</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Подписаться на новости и&nbsp;акции</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="menu-title">Применяемость</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Бульдозер</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Грузовики</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Компрессор</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Погрузчик</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Трактор</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Экскаватор</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-info-panel cnt-section">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-lg-6">Все права защищены © 2023</div>
				<div class="col col-12 col-lg-6">
					<ul class="menu">
						<li>
							<a href="" class="link-main">Политика конфиденциальности</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->