<!--main-map-box-->
<div class="main-map-box cnt-section">
	<div class="container">
		<div class="photo-inner-wrap">
			<div class="elm-photo">
				<img src="./img/map.svg" alt="">
			</div>
		</div>
		<div class="info-inner-wrap">
			<h2 class="h5-title m16">Доставка по все города Уральского Федерального округа</h2>
			<p>Самовывоз с наших складов в городах: Екатеринбург, Челябинск.</p>
			<ul class="list">
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Екатеринбург</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Челябинск</div>
					</a>
				</li>
			</ul>
			<h2 class="h5-title m16 mb24">Оперативная доставка</h2>
			<ul class="list">
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Москва</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Санкт Петербург</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Тюмень</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Пермь</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Владивосток</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Самара</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Китеж</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Грозный</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Ханты-Мансийск</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Москва</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Тюмень</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Пермь</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Владивосток</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Самара</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Китеж</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Санкт Петербург</div>
					</a>
				</li>
				<li>
					<a href="" class="btn button-tag">
						<div class="button-title">Грозный</div>
					</a>
				</li>
				<li>и другие города УФО</li>
			</ul>
		</div>
	</div>
</div>
<!--/main-map-box-->
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel cnt-section">
		<div class="container">
			<div class="info-inner-wrap">
				<div class="footer-logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo.svg" alt="">
					</a>
				</div>
				<div class="footer-info-item elm-info-item">
					<div class="info-title">Наша почта</div>
					<div class="info-value">
						<div class="elm-ico">
							<img src="./img/icons/email.svg" alt="">
						</div>
						<div class="info-value-title">
							<a href="mailto:fo@ural-filters.ru" class="link-main btn-info">info@ural-filters.ru</a>
						</div>
					</div>
				</div>
				<div class="footer-info-item elm-info-item">
					<div class="info-title">Челябинск</div>
					<div class="info-value">
						<div class="elm-ico">
							<img src="./img/icons/phone.svg" alt="">
						</div>
						<div class="info-value-title">
							<a href="" class="btn-info">+8 (800) 123-45-67</a>
						</div>
					</div>
				</div>
				<div class="footer-info-item elm-info-item">
					<div class="info-title">Тюмень</div>
					<div class="info-value">
						<div class="elm-ico">
							<img src="./img/icons/phoneinn.svg" alt="">
						</div>
						<div class="info-value-title">
							<a href="" class="btn-info">+8 (800) 123-45-67</a>
						</div>
					</div>
				</div>
				<div class="footer-info-item elm-info-item">
					<div class="info-title">Время работы</div>
					<div class="info-value">
						<div class="elm-ico">
							<img src="./img/icons/shedule.svg" alt="">
						</div>
						<div class="info-value-title">
							Пн-Пт с 9:00 до 21:00 <br>Сб-Вс выходной
						</div>
					</div>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="menu-title">ИНФОРМАЦИЯ</div>
					<ul class="menu menu-main">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Каталог товаров</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Доставка</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Гарантии и возврат</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О компании</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Корзина</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Оставить заявку</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Карта сайта</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Подписаться на новости и&nbsp;акции</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="menu-title">Применяемость</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Бульдозер</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Грузовики</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Компрессор</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Погрузчик</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Трактор</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Экскаватор</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-info-panel cnt-section">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-lg-6">Все права защищены © 2023</div>
				<div class="col col-12 col-lg-6">
					<ul class="menu">
						<li>
							<a href="" class="link-main">Политика конфиденциальности</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-order">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Оставить заявку</div>
			<p>Поля отмеченные <span class="text-att">*</span> обязательны для заполнения</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field field-half">
						<div class="field-title title-large">Как вас зовут <span class="text-att">*</span></div>
						<div class="frm-field-input">
							<input type="text" class="form-input" placeholder="Михаил Кузякин">
							<div class="frm-ico">
								<img src="./img/icons/frm-user.svg" alt="">
							</div>
						</div>
					</div>
					<div class="frm-field field-half">
						<div class="field-title title-large">Телефон для связи <span class="text-att">*</span></div>
						<div class="frm-field-input">
							<input type="tel" class="form-input" placeholder="+7 (---) --- -- --">
							<div class="frm-ico">
								<img src="./img/icons/frm-phone.svg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<div class="field-title">Ваш e-mail <span class="text-att">*</span></div>
						<div class="frm-field-input">
							<input type="email" class="form-input" placeholder="mail@mail.ru">
							<div class="frm-ico">
								<img src="./img/icons/frm-email.svg" alt="">
							</div>
						</div>
					</div>
					<div class="frm-field field-half">
						<div class="field-title">Ваш город <span class="text-att">*</span></div>
						<div class="frm-field-input">
							<input type="text" class="form-input" placeholder="Город доставки">
							<div class="frm-ico">
								<img src="./img/icons/frm-location.svg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="field-title">Что искали</div>
						<div class="frm-field-input">
							<input type="text" class="form-input" placeholder="Что интересует артикул или техника">
							<div class="frm-ico">
								<img src="./img/icons/frm-search.svg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="field-title">Сообщение</div>
						<div class="frm-field-input">
							<textarea placeholder="Информация о нужном фильтре" class="form-input"></textarea>
							<div class="frm-ico">
								<img src="./img/icons/frm-messages.svg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn button-dark">
							<div class="button-title">Отправить</div>
							<div class="button-ico">
								<img src="./img/icons/arrow-right.svg" alt="">
							</div>
						</button>
					</div>
					<div class="frm-field">
						<div class="frm-select">
							<input type="checkbox" id="form">
							<label for="form">Я согласен на обработку <a href="">Персональных данных</a></label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->