
<!-- header -->
<header class="header">
	<div class="container">
		<div class="header-logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="header-catalog-wrap">
			<a href="" class="btn js-btn-tgl">
				<div class="button-ico">
					<img src="./img/icons/menu.svg" alt="">
				</div>
				<div class="button-title">Каталог</div>
			</a>
		</div>
		<div class="header-search-wrap">
			<form action="/" class="frm-main-search">
				<input type="text" class="form-input" placeholder="Для поиска введите номер фильтра">
				<button type="submit" class="btn-form btn-action-ico">
					<img src="./img/icons/search.svg" alt="">
				</button>
			</form>
		</div>
		<div class="header-action-wrap">
			<a href="" class="btn button-clear" data-count="1">
				<div class="button-title">Корзина</div>
				<div class="button-ico">
					<img src="./img/icons/cart.svg" alt="">
				</div>
			</a>
		</div>
		<div class="header-info-wrap">Фильтры для спецтехники опт и розница</div>
		<div class="header-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu button-active-close js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-inner-wrap">
					<ul class="menu menu-main">
						<li class="menu-catalog">
							<a href="" class="btn-menu">
								<div class="button-title">Каталог</div>
							</a>
							<ul class="menu">
								<li>
									<a href="" class="btn-menu">
										<div class="button-title">Воздушные фильтры</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu">
										<div class="button-title">Гидравлические фильтры</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu">
										<div class="button-title">Масляные фильтры</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu">
										<div class="button-title">Салонные фильтры</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu">
										<div class="button-title">Топливные сепараторы</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu">
										<div class="button-title">Топливные фильтры </div>
									</a>
								</li>
							</ul>
							<div class="items-inner-wrap">
								<div class="row">
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand01.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand02.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand03.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand04.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand05.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand06.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand07.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand08.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand09.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand10.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand11.svg" alt="">
										</a>
									</div>
									<div class="col col-4 col-md-2">
										<a href="" class="item-tile-logo">
											<img src="./img/brand12.svg" alt="">
										</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="" class="btn-menu active">
								<div class="button-title">О компании</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Доставка</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Почта</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="info-inner-wrap">
					<div class="header-info-item elm-info-item">
						<div class="info-title">Время работы</div>
						<div class="info-value">
							<div class="elm-ico">
								<img src="./img/icons/shedule.svg" alt="">
							</div>
							<div class="info-value-title">
								Пн-Пт с 9:00 до 21:00
							</div>
						</div>
					</div>
					<div class="header-info-item elm-info-item">
						<div class="info-title">Наша почта</div>
						<div class="info-value">
							<div class="elm-ico">
								<img src="./img/icons/email.svg" alt="">
							</div>
							<div class="info-value-title">
								<a href="mailto:fo@ural-filters.ru" class="link-main btn-info">info@ural-filters.ru</a>
							</div>
						</div>
					</div>
					<div class="header-info-item elm-info-item">
						<div class="info-title">Челябинск</div>
						<div class="info-value">
							<div class="elm-ico">
								<img src="./img/icons/phone.svg" alt="">
							</div>
							<div class="info-value-title">
								<a href="" class="btn-info">+8 (800) 123-45-67</a>
							</div>
							<div class="info-value-popup">
								333
							</div>
						</div>
					</div>
					<div class="header-info-item elm-info-item">
						<div class="info-title">Тюмень</div>
						<div class="info-value">
							<div class="elm-ico">
								<img src="./img/icons/phoneinn.svg" alt="">
							</div>
							<div class="info-value-title">
								<a href="" class="btn-info">+8 (800) 123-45-67</a>
							</div>
							<div class="info-value-popup">
								333
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->